{% load i18n %}


{% if rows %}
    {% for row in rows %}
        <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
            <ul class="media-list fine-space">
                <li class="media">
                    <a class="pull-left" {% if row.is_image %}href="{{ row.static_image_url }}" data-lightbox="image-{{ row.id }}" data-title="{{ row.title }}"{% else %}href="{{ row.get_absolute_url }}"{% endif %}>
                        {% if row.is_image %}
                            <img src='{{ row.static_image_url }}' title='{{ row.title }}'></img>
                        {% else %}
                            <i class="fa fa-file"></i>
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <a target="_blank" {% if row.is_image %}href="{{ row.static_image_url }}" data-lightbox="image-{{ row.id }}" data-title="{{ row.title }}"{% else %}href="{{ row.get_absolute_url }}"{% endif %}>{{ row.title }}</a>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=row.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    {% endfor %}
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-file"></i>
                </a>
                <div class="media-body">
                    {% trans "There are no files  yet" %}
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}

