{% load cosinnus_tags %}

{% for file in all_files %}
    <div class="app-files">
        {% group_url 'cosinnus:file:download' group=file.group slug=file.slug as file_url %}
        <div class="btn btn-emphasized w100 {% if not no_indent %}extra-indented{% endif %}" {% if file.is_image %}href="{{ file.static_image_url }}" data-lightbox="image-{% if lightbox_context %}{{ lightbox_context }}{% else %}{{ object.id }}{% endif %}" data-title="{{ file.title }}"{% else %}href="{{ file_url }}"{% endif %}>
            <ul class="media-list fine-space">
                <li class="media">
                    <a class="pull-left">
                        {% if file.is_image %}
                            <img src='{{ file.static_image_url_thumbnail }}' title='{{ file.title }}'></img>
                        {% else %}
                            <i class="fa fa-file"></i>
                        {% endif %}
                    </a>
                    <a class="pull-right" style="z-index: 999;" href="{% group_url 'cosinnus:file:download' group=file.group slug=file.slug %}">
                        <i class="fa fa-download"></i>
                    </a>
                    <div class="media-body no-vertical-padding ">
                        {% comment %} No href here because this would cause a double download (since the div reacts to the clicked href too) {% endcomment %}
                        <strong><a target="_blank">{{ file.title|truncatechars:25 }}</a></strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=file.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endfor %}
