{% extends "cosinnus_file/base.html" %}
{% load i18n %}
{% block page_title %}File{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
<tr>
    <th class="span2">{% trans "Name" %}</th>
    <td>{{ object.name }}</td>
</tr>
<tr>
    <th>{% trans "Filename" %}</th>
    <td><a href="{% url 'cosinnus:file:download' group=group.slug slug=object.slug %}">{{ object.sourcefilename }}</a></td>
</tr>
<tr>
    <th>{% trans "Uploaded on" %}</th>
    <td>{{ object.uploaded_date|date:"DATETIME_FORMAT" }}</td>
</tr>
<tr>
    <th>{% trans "Uploaded by" %}</th>
    <td>{{ object.uploaded_by }}</td>
</tr>
<tr>
    <th>{% trans "Actions" %}</th>
    <td>
        <div class="btn-group">
        	<a class="btn btn-primary btn-mini" href="{% url 'cosinnus:file:download' group=group.slug slug=object.name %}"><i class="icon-eye-open icon-white"></i> {% trans "Download" %}</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'cosinnus:file:update' group=group.slug slug=object.slug %}"><i class="icon-pencil"></i> {% trans "Update"%}</a></li>
                <li><a href="{% url 'cosinnus:file:delete' group=group.slug slug=object.slug %}"><i class="icon-trash"></i> {% trans "Delete" %}</a></li>
            </ul>
        </div>
    </td>
</tr>
</table>
{% endblock %}
