{% extends "cosinnus_file/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{{object.title}} {% trans "Files" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        {% include "cosinnus_file/breadcrumb_file.html" with folder=object.container breadcrumb_template="cosinnus_file/breadcrumb_file.html" %}
        <li class="active">{{ object.title }}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_itemview.html" %}
{% endblock leftnav %}


{% block content %}

{% if form.forms.obj.errors or form.forms.media_tag.errors %}
    <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-exclamation-triangle fa-3x"></i>
        <p>{% trans "There was an error in one of the fields you entered. Please correct it before saving!" %}</p>
    </div>
{% endif %}

{% include 'cosinnus_file/file_form_core.html' hide_cancel_button=True %}
    
{% if user|has_write_access:object %}   
    <button type="button" class="btn btn-emphasized pull-left no-margin" data-toggle="modal" data-target="#deleteModal">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-eraser"></i>
                </a>
                <div class="media-body">
                    {% trans "Delete" %}
                </div>
            </li>
        </ul>
    </button>
    {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete file „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Delete file" %}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id="deleteModal" label=label title=title form_action="./delete/" %}
{% endif %}

<button type="button" class="btn btn-emphasized pull-left" href="{% group_url 'cosinnus:file:save' group=group slug=object.slug %}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-download"></i>
            </a>
            <div class="media-body">
                {% trans "Download" %}
            </div>
        </li>
    </ul>
</button>
    
    
{% endblock content %}
