{% extends "cosinnus_file/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Files" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        {% include "cosinnus_file/breadcrumb_file.html" with folder=current_folder breadcrumb_template="cosinnus_file/breadcrumb_file.html" %}
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_listview.html" %}
{% endblock leftnav %}

{% block content %}
	<!-- a box with semi transparent background -->
	<div class="content-box">
	    {% with obj_form=form.forms.obj %}
	    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}
		    {{ obj_form.non_field_errors }}
			<div type="button" class="btn btn-default w100 large-space">
                 <ul class="media-list">
                     <li class="media">
                         <a class="pull-left" href="#">
                             <i class="fa fa-plus"></i>
                         </a>
                         <div class="media-body">
                             {{ obj_form.file.errors }}
                             {% captureas placeholder %}{% trans "Lade ein neues Dokument hoch." %}{% endcaptureas %}
                             {% render_field obj_form.file class+="form-control" placeholder=placeholder id="fileToUpload" %}
                         </div>
                     </li>
                 </ul>
             </div>
             <button type="submit" class="btn btn-emphasized large-space" id="uploadFileButton">
                 <ul class="media-list">
                     <li class="media">
                         <a class="pull-left" href="#">
                             <i class="fa fa-floppy-o"></i>
                         </a>
                         <div class="media-body">
                             {% trans "Speichern" %}
                         </div>
                     </li>
                 </ul>
             </button>
	    </form>
	    {% endwith %}
	    
	    {% for object in objects %}
		    <div class="fadedown regular-space">
		        <div class="btn btn-emphasized w100">
		            <ul class="media-list">
		                <li class="media">
		                    <a class="pull-left" href="#">
		                        {% if object.is_image %}
					                <img src='{{ object.static_image_url }}' title='{{ file.title }}'></img>
				                {% else %}
				                    <i class="fa fa-file"></i>
				                {% endif %}
		                    </a>
		                    <a class="pull-right" href="#">
		                        <i class="fa fa-chevron-down"></i>
		                    </a>
		                    <a class="pull-right" href="{% url 'cosinnus:file:download' group=group.slug slug=object.slug %}">
                                <i class="fa fa-chain"></i>
                            </a>
                            <a class="pull-right" href="{% url 'cosinnus:file:download' group=group.slug slug=object.slug %}">
                                <i class="fa fa-download"></i>
                            </a>
		                    
		                    <div class="media-body">
		                        <a href="{% url 'cosinnus:file:download' group=group.slug slug=object.slug %}">
		                            {{ object.title }}
		                        </a>
		                    </div>
		                </li>
		            </ul>
		        </div>
		        
		        {% include 'cosinnus/media_tags_readonly.html' %}
		        
		        {% if object.is_image %}
                     <img class="w100" src='{{ object.static_image_url }}' title='{{ object.title }}'></img>
                {% endif %}
                
                {% if object.note %}
                <div type="button" class="btn btn-default w100 large-space">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                {{ object.note }} 
                            </div>
                        </li>
                    </ul>
                </div>
                {% endif %}
		        
		        {% captureas modal_id %}deleteModal_{{object.slug}}{% endcaptureas %}
                <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-eraser"></i>
                            </a>
                            <div class="media-body">
                                {% trans "Löschen" %}
                            </div>
                        </li>
                    </ul>
                </button>
            </div><!-- fadedown -->
            {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete file „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
            {% captureas title %}{% trans "Datei löschen" %}{% endcaptureas %}
            {% captureas action %}{% url 'cosinnus:file:delete' group=group.slug slug=object.slug%}{% endcaptureas %}
            {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
                
	    {% endfor %}
	
	</div><!-- content-box -->
{% endblock content %}
