{% extends "cosinnus_file/base.html" %}
{% load i18n static %}
{% block page_title %}File List{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/cosinnus_file.css' %}">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{% trans "List" %}</li>
{% endblock %}

{% block subnav_add_right %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Files" %}</h1>

{% if tags %}
  {% for tag in tags %}
    <a href="{% url 'cosinnus:file:list-filtered' group=group.slug tag=tag.slug %}"><span class="label">{{ tag.name }}</span></a>
  {% endfor %}
{% else %}
  {% trans "No tags available." %}
{% endif %}


<form action="." method="post" class="form-horizontal">
{% csrf_token %}
<div>
	<div class="media-list">
		<div class="media">
		{% with node=filetree template_name="cosinnus_file/file_tree_template.html" %}
	         {% include template_name %}
	    {% endwith %}
    	</div>
    </div>
</div>
</form>

{% endblock content %}

{% block extrafooter %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/file.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  init_select_all('#select-all', '#select-all-context')
});
</script>
{% endblock extrafooter %}
