
{% load i18n static %}
{% load bootstrap3 %}

<a class="pull-left" href="#">
  <img class="media-object" src="http://placehold.it/24&text=Folder">
</a>
    
<div class="media-body">
   
	{% if folder.folderfile %}
		<div class="btn-group pull-right" >
            <a class="btn btn-primary btn-mini" href="{% url 'cosinnus:file:add' group=group.slug slug=folder.folderfile.slug %}"><i class="icon-eye-open icon-white"></i> {% trans "Upload file" %}</a>
            <a class="btn btn-primary btn-mini" href="{% url 'cosinnus:file:addfolder' group=group.slug slug=folder.folderfile.slug %}"><i class="icon-eye-open icon-white"></i> {% trans "Create folder" %}</a>
            
            <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu" style="position:relative;" >
                <li><a href="{% url 'cosinnus:file:update' group=group.slug slug=folder.folderfile.slug %}"><i class="icon-pencil"></i> {% trans "Edit" %}</a></li>
                <li><a href="{% url 'cosinnus:file:delete' group=group.slug slug=folder.folderfile.slug %}"><i class="icon-trash"></i> {% trans "Delete" %}</a></li>
            </ul>
        </div>
		<p>
			{{ folder.folderfile.slug }}
		</p>
		
		
	{% else %}
		<!-- root folder -->
		<p>
			// ALL FILES: //
		</p>
	{% endif %}
	


   {%if node.folders %}
        {%for folder in node.folders %}
        	  <div class="media">
             {%with node=folder template_name="cosinnus_file/file_tree_template.html" %}
                  {%include template_name%}
             {%endwith%}
             </div>
        {%endfor%}
   {%endif%}
   
   {%if node.files %}
        {%for file in node.files %}
       	<div class="media">
       		<a class="pull-left" href="#">
			  <img class="media-object" src="http://placehold.it/24&text=File">
			</a>
       		<div>
	       	 	<span><a href="{% url 'cosinnus:file:file' group=group.slug slug=file.slug %}"
	       	 	         title="{{ file.note }}">{{ file.name }}</a></span>
				<span>when: {{ file.uploaded_date|date:"DATETIME_FORMAT" }}</span>
				<span>by: {{ file.uploaded_by }}</span>
				<span>
					{% for tag in file.tags.all %}
	                    <a href="{% url 'cosinnus:file:list-filtered' group=group.slug tag=tag.slug %}"><span class="label">{{ tag.name }}</span></a>
	                {% empty %}
	                --
	                {% endfor %}
				</span>
				<div class="btn-group pull-right" >
	                <a class="btn btn-primary btn-mini" href="{% url 'cosinnus:file:download' group=group.slug slug=file.slug %}"><i class="icon-eye-open icon-white"></i> {% trans "Download" %}</a>
	                <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	                <ul class="dropdown-menu" style="position:relative;" >
	                	<li><a href="{% url 'cosinnus:file:file' group=group.slug slug=file.slug %}"><i class="icon-eye-open icon-white"></i> {% trans "Show" %}</a></li>
	                    <li><a href="{% url 'cosinnus:file:update' group=group.slug slug=file.slug %}"><i class="icon-pencil"></i> {% trans "Edit" %}</a></li>
	                    <li><a href="{% url 'cosinnus:file:delete' group=group.slug slug=file.slug %}"><i class="icon-trash"></i> {% trans "Delete" %}</a></li>
	                </ul>
	            </div>
	        </div>
       	 </div>
        {%endfor%}
   {%endif%}


</div>
