{% load i18n cosinnus_tags %}

{% with file=object %}
    <div class="app-files">
        <div class="btn btn-emphasized w100">
            <ul class="media-list large-space">
                <li class="media">
                    <a class="pull-left" href="#">
                        {% if file.is_image %}
                            <img src='{{ file.static_image_url }}' title='{{ file.title }}'></img>
                        {% else %}
                            <i class="fa fa-file"></i>
                        {% endif %}
                    </a>
                    <div class="media-body no-vertical-padding">
                         <span class="annotation">
                             {% with creator=file.creator %}
                                 von <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
                             {% endwith %}
                             <span class="moment-data-date" data-date="{{ file.created|date:'c' }}"></span>
                         </span>
                         <strong><a href="{% group_url 'cosinnus:file:download' group=file.group.slug slug=file.slug %}">{{ file.title }}</a></strong>
                         <div class="group-annotation">
                             {% include 'cosinnus/group/group_label.html' with group=file.group %}
                         </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endwith %}
