{% load i18n cosinnus_tags %}

{% with file=object %}
    <div class="app-files">
        <div class="btn btn-emphasized w100">
            <ul class="media-list large-space">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-file"></i>
                    </a>
                    <div class="media-body no-vertical-padding">
                         <span class="annotation">
                             {% with creator=file.creator %}
                                 von <strong><a href="{{ creator.cosinnus_profile.get_absolute_url }}" >{{ creator|full_name }}</a></strong> 
                             {% endwith %}
                             <span class="moment-data-date" data-date="{{ file.created|date:'c' }}"></span>
                         </span>
                         <strong><a href="{% url 'cosinnus:file:download' group=file.group.slug slug=file.slug %}">{{ file.title }}</a></strong>
                         <div class="group-annotation">
                             <a href="{{ todo.group.get_absolute_url }}">
                                 <i class="fa fa-users"></i>
                                 {{ file.group.name }}
                             </a>
                         </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endwith %}
