{% load i18n cosinnus_tags thumbnail %}

{% with file=object %}
    <div class="app-files">
        <div class="btn btn-emphasized w100">
            <ul class="media-list {% if no_space %}fine-space{% else %}large-space{% endif %}">
                <li class="media">
                    {% if file.is_image %}
                        <a class="pull-left" href="{{ file.static_image_url }}" data-lightbox-download="{{ file.static_image_url }}" data-lightbox="image-single-thumbnail" data-title="{{ file.title }}"><img src='{{ file.static_image_url_thumbnail }}' title='{{ file.title }}'></img></a>
                    {% else %}
	                    <a class="pull-left" href="#">
                        	<i class="fa fa-file"></i>
	                    </a>
                    {% endif %}
                    <div class="media-body {% if not hide_group_name %}no-vertical-padding{% endif %}">
                         <span class="annotation">
                             {% with creator=file.creator %}
                                 {# {% trans "by" %} #} <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
                             {% endwith %}
                             <span class="moment-data-date" data-date="{{ file.created|date:'c' }}"></span>
                         </span>
                         <strong><a {% if file.is_image %}href="{{ file.static_image_url }}" data-lightbox-download="{{ file.static_image_url }}" data-lightbox="image-single" data-title="{{ file.title }}"{% else %}href="{{ file.get_absolute_url }}"{% endif %}>{{ file.title }}</a></strong>
                         {% if not hide_group_name %}
			                 <div class="group-annotation">
	                             {% include 'cosinnus/group/group_label.html' with group=file.group %}
	                         </div>
	                     {% endif %}
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endwith %}
